.footer {
    margin: 0 auto;
    height: 205px;
    width: 1300px;
    margin-top: 184px;
    background: #F16353;
    
}

.footer_info{
    display: flex;
    justify-content: space-around;
    padding-top: 95px;

}

.copyright {
    font-family: Rubik;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    color: #F8F9FA;
}

.trafico_logo {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: DM Serif Display;
}

.logo_pict {
    margin-right: 28px;
}

.social_media {
     margin-right: 31px ;
}

@media screen and (max-width: 1124px) {

    .footer {
        max-width: 320px;
        margin-top: 50px;
    }

    .footer_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .copyright {
        padding: 20px;
    }

    .trafico_logo {
        padding: 10px;
    }

    .images {
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }

    .social_media {
        margin: 10px;
    }
}