body {
    font-family: "Rubik", "DM Serif Display";
    font-size: 16px;
    color: #402B2B;
    background: #E5E5E5;
}

.container {
    max-width: 1600px;
    background: url('../img/Background\ Scene.svg') no-repeat top;
    margin: 0 auto;
    
}

button {
    border: none;
    border-radius: 5px;
    padding-inline: 24px;
    padding-top: 20px;
    padding-bottom: 21px;
    background: #EE4D47;
    font-family: "Rubik";
    font-weight: bold;
    color: #fff;
}

a {
    text-decoration: none;
    color: #FFF;
}

ul, li {
    padding: 0;
    display: block;
}

h1 , h2{
    margin: auto 0;
}

.paraghraph {
    margin: auto 0;
    font-family: Rubik;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
}

@media screen and (max-width: 1124px){
    .container {
        background: none;
    }
    
}