.header {
    margin: 0 auto;
}

.upper_header {
    display: flex;
    justify-content: center;
}
.header_menu ul {
    display: flex;
    justify-content: center;
}

.header_menu-item {
    margin-right: 97px;
    padding-top: 61px;
    line-height: 19px;
    letter-spacing: 0.05em;
    font-family: "Rubik";
}
.text_logo {
    padding-left: 28px;
    padding-right: 292px;
    font-family: "DM Serif Display";
    text-transform: uppercase;
    padding-top: 64px;
    color: #FFF;
}

.header_logo{
    display: flex;
    text-transform: uppercase;
    width: 137px;
    height: 32px;
    font-size: 32px;
    line-height: 100%;
    line-height: 32px;
    color: #000;
    font-family: "DM Serif Display";
}

.logo_pict_1 {
    width: 16px;
    height: 17px;
    padding-top: 50px;
}

.logo_pict_2 {
    width: 31px;
    height: 33px;
    padding-top: 67px;
}

.btn_contact-us {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    line-height: 19px;
    border-radius: 5px;
    width: 158px;
    height: 60px;
    letter-spacing: 0.05em
}

.btn_contact-us:hover {
    background-color: #FFF;
    color: #EE4D47;
}

@media screen and (max-width: 1124px){

    .logo_pict_1 {
        display: none;
    }

    .logo_pict_2 {
        display: none;
    }

    .text_logo {
        padding: 0;
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    .upper_header {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    
    .header_menu ul {
        flex-direction: column;
        align-items: center;
    }

    .header_menu-item {
        margin: 0;
    }
    
    /* переробити батон і закинути в бутер разом з менюшкою */
    .btn_contact-us { 
        margin: 0; 
    }
}