.header {
    margin: 0 auto;
}

.upper_header {
    display: flex;
    justify-content: center;
}

.header__menu {
    display: none;
    width: 32px;
    cursor: pointer;
  }

.header__menu > img {
    max-width: 100%;
}

.header__menu-icon {
    width: 40px;
}

.header__nav ul {
    display: flex;
    justify-content: center;
}

.header__nav-item {
    margin-right: 97px;
    padding-top: 61px;
    line-height: 19px;
    letter-spacing: 0.05em;
    font-family: "Rubik";
}
.text_logo {
    padding-left: 28px;
    padding-right: 292px;
    font-family: "DM Serif Display";
    text-transform: uppercase;
    padding-top: 64px;
    color: #FFF;
}

.header_logo{
    display: flex;
    text-transform: uppercase;
    width: 137px;
    height: 32px;
    font-size: 32px;
    line-height: 100%;
    line-height: 32px;
    color: #000;
    font-family: "DM Serif Display";
}

.logo_pict_1 {
    width: 16px;
    height: 17px;
    padding-top: 50px;
}

.logo_pict_2 {
    width: 31px;
    height: 33px;
    padding-top: 67px;
}

.btn_contact-us {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    line-height: 19px;
    border-radius: 5px;
    width: 158px;
    height: 60px;
    letter-spacing: 0.05em
}

.btn_contact-us:hover {
    background-color: #FFF;
    color: #EE4D47;
}

@media screen and (max-width: 1124px){

    .header {
        position: fixed;
        background: #EE4D47;
        width: 100%;
    }

    .logo_pict_1 {
        display: none;
    }

    .logo_pict_2 {
        display: none;
    }

    .text_logo {
        padding: 0;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .upper_header {
        margin: 0;
        align-items: center;
    }

    .header__menu {
        display: block;
        margin-left: 60px;
      }
    
    .header__nav {
        background: #E5E5E5;
        position: fixed;
        top: 115px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
        clip-path: circle(0 at top right);
        transition: clip-path 0.9s ease-in;
    }

    .header__nav.open {
        clip-path: circle(1124px at top);
    }

    .header__nav ul {
        flex-direction: column;
        height: 100%;
    }

    .header__nav .header__nav-item {
        margin-right: 0;
        padding-top: 10vh;
        flex: 1;
    }

    .header__nav a {
        font-weight: 500;
        display: block;
        font-size: 32px;
        color: #EE4D47;
    }
    
    .btn_contact-us { 
        display: none;
        margin: 0; 
    }
}