.hero_inner {
    width: 740px;
    padding-top: 94px;
}

.container_hero{
    margin-left: 240px;
}

.hero_title {
    font-size: 100px;
    line-height: 100px;
    display: flex;
    align-items: center;
    /* color: #FFF;   */
}

.btn_get_start {
    margin-top: 60px;
    width: 220px;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.hero_car {
    padding-top: 50px;   
}

.car_image {
    position: relative ;
    left: -200px;
}
