.hero_inner {
    width: 740px;
    padding-top: 94px;
    margin-left: 160px;
}

.hero_title {
    font-size: 100px;
    line-height: 100px;
    display: flex;
    align-items: center;
    color: #FFF;   
}

.btn_get_start {
    margin-top: 60px;
    width: 220px;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.hero_car {
    margin-top: 54px;
    margin-left: -200px;
}

@media screen and (max-width: 1124px){

    .container_hero {
        display: flex;
        justify-content: center;
    }

    .hero_inner {
        margin: 0;
        max-width: 320px;
        
    }
    
    .hero_title {
        font-family: "Rubik";
        font-size: 16px;
        color: #402B2B;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .btn_start {
        display: flex;
        justify-content: center;
    }
    .btn_get_start{
        margin: 0;
    }

    .hero_car {
        display: none;
    }
}